<h1>Listing card_models</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @card_models.each do |card_model| %>
      <tr>
        <td><%= link_to 'Show', card_model %></td>
        <td><%= link_to 'Edit', edit_card_model_path(card_model) %></td>
        <td><%= link_to 'Destroy', card_model, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Card model', new_card_model_path %>
